div {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times Roman', Times, serif;
    
    }
    
    #navbar {
    
        color: red;
        font-size: 50px;
    
    
    }
    
    #sidebar{
    
        color: blue;
        font-size: 30px;
    
    }
    
    #main{
    
        color: green;
        font-size: 20px;
    
    }